<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Hello, pybo!</title>
</head>
<body>
<div class="container">
    <table class="table table-light">
        <tr class="table-dark">
            <td>name</td>
            <td>age</td>
            <td>address</td>
        </tr>
        
        <!-- 반복 시작-->
        {% for person in person_list : %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <td>{{ person.address }}</td>
        </tr>
        {% endfor %}
        <!-- 반복 끝-->
    </table>
    <a href="/person_form">사람 등록</a>
    <a href="/delete_person">사람 삭제</a>
</div>
</body>
</html>



